/*Aqui pongo todo sobre la galeria*/

#id_galeria{
    background-color: rgb(170, 142, 142);
}


/*Nesting applied*/

#id_galeria{
    img{
        border: 2px solid white;
        border-radius: 30px;
    }

}