/*Aqui pongo todos los headings, desde h1 a h4*/

h1{
    color: black;
    background-color: aquamarine;
    font-size: 50px;
} 

/*Nesting aplicado*/

section{
    article{
        h2{
            color:black;   
        }
    }
}

